# 📦 Node dependencies
node_modules/

# ⚡ Expo and React Native builds
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# 📱 Native folders
/ios
/android
.kotlin/

# 🔑 Sensitive files
*.pem
*.p8
*.p12
*.key
*.mobileprovision
*.jks

# 🧱 Metro cache
.metro-health-check*

# 🧪 Debug & logs
npm-debug.*
yarn-debug.*
yarn-error.*

# 🍎 macOS system files
.DS_Store

# 🌍 Environment files
.env
.env*.local

# 🧩 TypeScript
*.tsbuildinfo

# 🧪 Example app
app-example
